.fm {
  position: relative;
}

.fm .switcher {
  position: absolute;
  top: 3px;
  right: 50%;
  width: 24px;
  height: 24px;
  margin-right: 18px;
  background: url(images/arrow-right.png);
  cursor: pointer;

  -webkit-transition: all .4s linear;
          transition: all .4s linear;
}

.fm-one .switcher {
  position: absolute;
  top: 3px;
  right: 6px;
  width: 24px;
  height: 24px;
  margin-right: 0px;
  background: url(images/arrow-left.png);
}

.fm .area {
  width: 49%;
  overflow-x: hidden;
}

.fm .area-1 {
  float: left;

  -webkit-transition: all .4s linear;
          transition: all .4s linear;
}

.fm .area-2 {
  float: right;

  -webkit-transition: all .4s linear;
          transition: all .4s linear;
}

.fm-one .area-1 {
  width: 100%;
}

.fm-one .area-2 {
  width: 0%;
}

.fm .cur-dir {
  margin-bottom: 10px;
  padding: 5px 20px;
  background: #5a9076;
  color: #f5f5f5;
  font-weight: bold;
}

.fm .toolbar {
  margin-bottom: 10px;
}

.fm .toolbar .bw {
  display: inline-block;
  width: 25%;
  padding: 0px 5px;
}

.fm .toolbar button {
  width: 100%;
}

.fm table {
  font-size: 12px !important;
}

.fm tbody {
  display: block;
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}

.fm tr {
  display: block;
  width: 530px;
}

.fm th,
.fm td {
  width: 80px;
  cursor: pointer;
}

.fm th:first-child,
.fm td:first-child {
  width: 230px;
}

.fm th:last-child,
.fm td:last-child {
  width: 140px;
}

.fm-one tr {
  display: block;
  width: 1100px;
}

.fm-one th,
.fm-one td {
  width: 200px;
  cursor: pointer;
}

.fm-one th:first-child,
.fm-one td:first-child {
  width: 460px;
}

.fm-one th:last-child,
.fm-one td:last-child {
  width: 280px;
}

.fm tr:hover td {
  background: #ececec !important;
}

.fm tr.active td {
  background: #e3e3e3 !important;
}

.fm-message {
  position: fixed;
  top: 150px;
  left: 50%;
  width: 240px;
  margin-left: -140px;
  padding: 20px;
  color: #777;
  text-align: center;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.9);

  border-radius: 4px;
  box-shadow: 1px 2px 2px 0px rgba(100, 100, 100, 0.5);
}

.msglib-content img,
.msglib-content video {
  display: block;
  max-width: 100%;
  max-height: 95%;
  margin: 0px auto;
}

