body {
  padding-top: 60px;
}

body > .container {
  width: 1170px !important;
}

.footer {
  margin: 10px 0px;
  padding: 10px 20px;
  border-top: 2px solid #444;
  font-size: 13px;
  font-style: italic;
}

