<!DOCTYPE html>

<html>
  <head>
    <title>File Manager</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">File Manager</a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="fm"></div>

      <div class="footer">
        &copy; 2014 Speransky Danil
        <br>
        speranskydanil@gmail.com
      </div>
    </div>
  </body>
</html>

